/*Structure */

body {
    background-color:#71B0AC;
}

/*Tables*/

/*Navigation*/
a {
    text-decoration: none;
    background: #bec169;
    color: black;
    padding: 2px;
    border-radius: 3px;
}
a:hover{
    background: salmon;
}

/*Typography */
body{
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    color: #b3932d;
}
h2 {
   color: #338077;
}
p {
    color: #FFDB4D;
}

