/*Structure*/

:root {
    --num: 0%;
}

.padded-area {
    margin: auto;
    padding: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.ex1of2,
.ex2of2 {
    margin: 10px;
    padding: 40px 20px;
    background-color: darkmagenta;
    border-radius: 10px;
    border: 7px solid white;
    text-align: center;
}

.ex1of2,
.ex2of2 {
    height: 250px;
    position: relative;
    top: 0px;
}

#rainbow-button {
    padding: 5px 12px;
    background-color: darkorchid;
    color: white;
    border-radius: 8px;
}

.rainbowColors {
    width: 500px;
    height: 30px;
    margin: 0px;
}

#pot {
    position: relative;
    top: -160px;
    left: 200px;
    height: 150px;
    width: 150px;
}

/*Typography*/

.ex1of2,
.ex2of2 {
    font-size: 1.2em;
}

.hidden {
    display: none;
}

/*Larger Resolution*/

@media (min-width: 900px) {

    .columns {
        display: flex;
    }

    .ex1of2,
    .ex2of2 {
        flex: 1;
    }

    .ex1of2,
    .ex2of2 {
        top: 150px;
    }
}